
.App-header {
  background: url(../src/assets/background.jpg) no-repeat center center fixed;
  min-height: 100vh;
}

.busTravelText{
  font-size: 40px;
  color: purple;
  height: 15vh;
}

.top{
  height: 250px;
}

.originDropdown{
  width: 400px;
  height: 30px;
}

.semiTransparentBackgroundHome{
  background:rgba(161, 36, 36, 0.5);
}


.selectTravel{
  height: 100px;
  align-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
